transformers~=4.31.0
tensorflow~=2.4
pyyaml~=6.0
sacrebleu~=2.3.1
sacremoses~=0.0.53
jieba
regex
sentencepiece
thai-segmenter
soundfile
python_speech_features
subword-nmt
mecab-python3
ipadic
tensorflow_addons
torch~=2.0.1
six~=1.15.0
scipy~=1.10.1
keras~=2.4
setuptools~=68.0.0
matplotlib~=3.5.0
numpy~=1.19.5